* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 63em;
  margin: 0 auto;
}

.header {
  padding: 25px;
}
@media screen and (min-width: 64.063em) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header .logo {
  display: flex;
  justify-content: center;
  color: red;
}
@media screen and (min-width: 64.063em) {
  .header .logo {
    display: block;
  }
}

.hamburger {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  background: transparent;
  border: 0;
  margin: 0;
}
@media screen and (min-width: 64.063em) {
  .hamburger {
    display: none;
  }
}

.hamburger__box {
  display: inline-block;
  width: 2.5em;
  height: 1.8em;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s 0.1s ease-in-out;
}
.hamburger__inner::before {
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  transition: transform 0.3s ease-in-out;
}
.hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  content: "";
  left: 0;
  top: -10px;
  transition: transform 0.3s ease-in-out;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  transform: translateY(-10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  transform: translateY(10px) rotate(-45deg);
}

.hamburger--active {
  transform: translateX(16em);
}

.navigation {
  width: 250px;
  height: 100vh;
  background-color: rgb(5, 3, 3);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-16em);
}
@media screen and (min-width: 64.063em) {
  .navigation {
    width: auto;
    height: auto;
    transform: translateX(0);
    position: static;
  }
}

.navigation--active {
  transform: translateX(0);
}

.navigation__list {
  list-style: none;
  margin-top: 3.5em;
}
@media screen and (min-width: 64.063em) {
  .navigation__list {
    display: flex;
    margin: 0;
  }
}

.navigation__item {
  margin: 1.5em 0;
}
@media screen and (min-width: 64.063em) {
  .navigation__item {
    margin: 0;
  }
}
.navigation__item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navigation__item a:visited {
  color: rgb(255, 255, 255);
}
.navigation__item a:hover {
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.navigation__item a:active {
  color: rgb(255, 255, 255);
}

.hamburger,
.navigation {
  transition: transform 0.3s 0.1s ease-in-out;
}

.wrapper {
  background: #e4e4e4;
}
/*# sourceMappingURL=main.css.map */
