// center content in desktop
.container {
  max-width: 63em;
  margin: 0 auto;
}

.header {
  padding: 10px;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@mixin hamburger__line {
  width: 100%;
  height: 3px;
  background-color: $-hamburger-line;
  position: absolute;
}

// hamburger btn
.hamburger {
  display: inline-block;
  padding: 1em 2em;
  cursor: pointer;
  background: $-hamburger-bg;
  border-radius: 10px;
  border: 0;
  margin: 0;

  @include desktop {
    display: none;
  }
}

// box for hamburger line
.hamburger__box {
  display: inline-block;
  width: $-hamburger-width;
  height: $-hamburger-height;
  position: relative;
}

//hamburger inner line
.hamburger__inner {
  @include hamburger__line;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s 0.1s ease-in-out;

  // hamburger bottom line
  &::before {
    @include hamburger__line;

    content: "";
    left: 0;
    top: 10px;
    transition: transform 0.3s ease-in-out;
  }

  //hamburger top line
  &::after {
    @include hamburger__line;

    content: "";
    left: 0;
    top: -10px;
    transition: transform 0.3s ease-in-out;
  }
}

// hamburger active style
.hamburger--active .hamburger__inner {
  background-color: transparent;
}

// important - first transform, later rotate
.hamburger--active .hamburger__inner:before {
  transform: translateY(-10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  transform: translateY(10px) rotate(-45deg);
}

.hamburger--active {
  transform: translateX($-menu-mobile-width);
  margin: 0 2.5em;
}

.navigation {
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  // hide nav with - em
  transform: translateX(-$-menu-mobile-width);

  @include desktop {
    width: auto;
    height: auto;
    transform: translateX(0);
    position: static;
  }
}

// navigation active style
.navigation--active {
  transform: translateX(0);
  height: 100%;
  overflow: scroll;
  background-color: $-bg-mobile-nav;
  box-shadow: 2px 0px 24px -7px $-main-color;
}

.navigation__list {
  list-style: none;

  @include desktop {
    display: flex;
    font: $-nav-font;
  }
}

.navigation__item {
  color: #444;
  font-weight: 800;
  padding: 1.5em 0;
  padding-left: 1.5em;
  border-top: solid 1px #e8e8e8;

  @include desktop {
    margin: 0;
  }
  // styling links

  a {
    text-decoration: none;
    color: $-title-bold-color;
  }
  a:visited {
    color: $-title-bold-color;
  }

  a:hover {
    color: $-title-bold-color;
    opacity: 0.5;
  }

  a:active {
    color: $-title-bold-color;
  }
}

// all menu transition
.hamburger,
.navigation {
  transition: transform 0.3s 0.1s ease-in-out;
}

// rest menu style for mobile and desktop

.logo {
  display: block;
  text-align: center;
  width: 9em;
  margin: 0 auto;
  padding: 5px;

  @include desktop {
    display: inline-flex;
    align-items: center;
    margin: 0;
    width: 15em;
  }

  h1 {
    background-color: $-logo-bg-color;
    border-radius: 6px;

    @include desktop {
      padding: 5px 15px;
    }

    a {
      text-decoration: none;
      font: $-logo-font;
      color: $-white;
    }
  }

  span {
    display: block;
    margin: 5px 5px;
    font: $-nav-font;
    color: $-main-color;

    @include desktop {
      display: inline-block;
    }
  }
}

.dropdown--accent-2 {
  font: $-dropdown-accent;
  color: $-main-color;
  margin-left: 2em;

  @include desktop {
    display: none;
  }
}
.dropdown--accent-1 {
  font: $-dropdown-accent;
  color: $-main-color;
  margin-left: 1em;

  @include desktop {
    display: none;
  }
}
