$-logo-font: normal 400 3.25em "Oleo Script", cursive;
$-nav-font: normal 800 1em "Open Sans", sans-serif;
$-btn-font: bold 800 1.6em "Open Sans", sans-serif;
$-title-font-bold: bold 800 3.75em "Open Sans", sans-serif;
$-title-font-normal: normal 800 2.45em "Open Sans", sans-serif;

$-bg-color: #e4e4e4;
$-logo-bg-color: #fc4887;
$-main-color: #696969;
$-title-bold-color: #444;
$-white: #fff;
$-btn-bg: #1691c3;

$-right-arrow: "\f0a9";
$-question-circle: "\f059";

// twitter <i class="fa-brands fa-square-twitter"></i>
// facebook  <i class="fa-brands fa-square-facebook"></i>a
// insta <i class="fa-brands fa-square-instagram"></i>
// driable <i class="fa-brands fa-square-dribbble"></i>
// pinte <i class="fa-brands fa-square-pinterest"></i>
